[Desktop Entry]
Version=1.0
Type=Application
Name=Crear
Comment=Crear los archivos HTML
Exec=xterm -hold -e '~/Documentos/MovimientoLibre/GitHub/movimientolibre.github.io/bin/Crear.php; echo "Script terminado. Ya puede cerrar esta terminal."'
Icon=media-record
Path=
Terminal=false
StartupNotify=false
